<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TvHeadendGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TvHeadendGui.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>TvHeadend</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>9981</value>
            </setting>
            <setting name="AuthenticationRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoDownloadPath" serializeAs="String">
                <value>C:\Users\CWiegand\Desktop\Video</value>
            </setting>
            <setting name="SaveCredentialsToWindowsCredentialStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerPath" serializeAs="String">
                <value>/</value>
            </setting>
        </TvHeadendGui.Properties.Settings>
    </userSettings>
</configuration>